{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container" style="background-color: rgb(100, 100, 100)">
		<!-- Brand and toggle get grouped for better mobile display -->
		<a class="navbar-brand logo_h" href="index.html"><img src="/static/img/errorcvlogotemporary.png" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
			<ul class="nav navbar-nav menu_nav ml-auto">
				<li class="nav-item active"><a class="nav-link" href="{% url 'index' %}" style="color:rgb(220, 220, 220)">Home</a></li> 
				<li class="nav-item"><a class="nav-link" href="{% url 'about' %}" style="color:rgb(220, 220, 220)">How it works</a></li> 
				<!--
				<li class="nav-item submenu dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:rgb(220, 220, 220)">Pages</a>
					<ul class="dropdown-menu">
						<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
					</ul>
				</li> 
				<li class="nav-item submenu dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:rgb(220, 220, 220)">Blog</a>
					<ul class="dropdown-menu">
						<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
						<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
					</ul>
				</li> 
				<li class="nav-item"><a class="nav-link" href="contact.html" style="color:rgb(220, 220, 220)">Contact</a></li>
				-->
				{% if user.is_authenticated %}
					<li class="nav-item submenu dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:rgb(220, 220, 220)">{{ user.first_name }}'s ErrorCV</a>
						<ul class="dropdown-menu">
								<li 
								{% if 'profile' in request.path %}
									class="nav-item"
								{% else %}
									class="nav-item"
								{% endif %}
								>
								<a class="nav-link" href="{% url 'profile' %}">
									Profile</a>
							</li>
							<li 
								{% if 'dashboard' in request.path %}
									class="nav-item"
								{% else %}
									class="nav-item"
								{% endif %}
								>
								<a class="nav-link" href="{% url 'dashboard' %}">
									Dashboard</a>
							</li>
							<li 
								{% if 'metrics' in request.path %}
									class="nav-item"
								{% else %}
									class="nav-item"
								{% endif %}
								>
								<a class="nav-link" href="{% url 'metrics' %}">
									Metrics</a>
							</li>
							<li 
								{% if 'settings' in request.path %}
									class="nav-item"
								{% else %}
									class="nav-item"
								{% endif %}
								>
								<a class="nav-link" href="{% url 'settings' %}">
									Settings</a>
							</li>
						</ul>					
					<li class="nav-item">
						<a href="javascript:{document.getElementById('logout').submit()}" class="nav-link" style="color:rgb(220, 220, 220)">
						<i class="fas fa-sign-out-alt"></i> Logout
						</a>
						<form action="{% url 'logout' %}" method="POST" id="logout">
						{% csrf_token %}
						<input type="hidden">
						</form>
					</li>
			  {% else %}
				<li
				{% if 'register' in request.path %}
				  class="nav-item active"
				{% else %}
				  class="nav-item"
				{% endif %}
				>
				  <a class="nav-link" href="{% url 'register' %}" style="color:rgb(220, 220, 220)">Register</a>
				</li>
				<li
				{% if 'login' in request.path %}
				  class="nav-item"
				{% else %}
				  class="nav-item"
				{% endif %}
				>
				  <a class="nav-link" href="{% url 'login' %}" style="color:rgb(220, 220, 220)">Login</a>
				</li>
			  {% endif %}
			</ul>
		</div> 
	</div>
</nav>
