{% extends 'base.html' %} 

{% load humanize %}

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<!-- Question Animation  -->
<link rel="stylesheet" href="{% static 'css/aboutquestionanimation.css' %}">

<!-- Breadcrumb 
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb1">
        <li class="breadcrumb1-item">
          <a href="{% url 'index' %}" style="color: rgb(66, 66, 66)">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb1-item active"> About</li>
      </ol>
    </nav>
  </div>
</section>
-->
<!-- Showcase -->
<section class="home_banner_area" id="about" style="height:60%">
  <div class="banner_inner">
    <div class="container">
      <div class="row banner_content">
        <div class="content">
          <div class="content__container">
            <ul class="content__container__list">
              <li class="content__container__list__item">Are you actively looking for job?</li>
              <li class="content__container__list__item">How you track your job application?</li>
              <li class="content__container__list__item">What are challenges you face?</li>
              <li class="content__container__list__item">Are you already part of fast growing Open Source world?</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Vision -->
<section id="vision" style="margin-top:5%">
    <div class="container">
      <h2 class="text-center">Vision</h2>
      <div class="row text-center">
        <div class="col-md-12" style="margin-top: 20px">
          <p>Build egoless, collaborative community who continuously track, learn from job application experience and succeed</p>
        </div>    
      </div>
    </div>
  </section>

<!-- Team -->
<section id="team" style="margin-top:5%; margin-bottom: 5%">
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <div class="row text-center">
      <div class="col-md-12" style="margin-top: 20px">
        <p>Team of passioned engineers with same core values, driving for impact everyday</p>
      </div>    
    </div>
  </div>
</section>
{% endblock %}