{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section class="home_banner_area" id="home">
  <div class="banner_inner">
<div class="container">
<div class="row banner_content">
  <div class="col-lg-9">
    <h2>Simplify your <br />job hunt!</h2>
    <p>Improve your job search experience in<br /> a seamless & intuitive way</p>
    <a class="banner_btn" href="#howitworks">How It Works</a>
  </div>
  <div class="col-lg-3" >
    <div class="banner_map_img">
      <img src="" alt="">
    </div>
  </div>
</div>
</div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Feature Area =================-->
<section class="feature_area p_120" id="feature">
<div class="container">
  <div class="main_title">
    <h2>Unique Features</h2>
    <p style="width: 350px">No more messy spreadsheets or digging through emails to see the status of your job applications!</p>
  </div>
  <div class="feature_inner row">
    <div class="col-lg-3 col-md-6">
      <div class="feature_item">
        <img src="/static/images/emailtracking1.jpg" style="width:90%; height: 90%" alt="">
        <h4 style="padding-top: 30px">Email Tracking</h4>
        <p>Too many job app emails to dig through? We can identify & automatically track those jobs on our dashboard!</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature_item">
        <img src="/static/images/metrics2.png" style="width:100%; height: 100%" alt="">
        <h4 style="padding-top: 20px">Metrics</h4>
        <p>"We can only improve what we measure", that's why we analyze your data & give you insightful metrics to analyze.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature_item">
        <img src="/static/images/share.png" style="width:100%; height: 100%" alt="">
        <h4 style="padding-top: 50px">Upcoming: Sharing</h4>
        <p>This upcoming feature will allow you to share your job search progress & seek advice with someone like your career advisor.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature_item">
        <img src="/static/images/predictions.png" style="width:100%; height: 100%" alt="">
        <h4 style="padding-top: 5px">Upcoming: Predictions & Notifications</h4>
        <p>We can do things like remind you of upcoming interviews & suggest jobs!</p>
      </div>
    </div>
  </div>
</div>
</section>
<!--================End Feature Area =================-->

<!--================Interior Area =================-->

<!-- Bottom Padding-->
<section id="howitworks">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding-top: 30px">
      </div>
    </div>
  </div>
</section>

<section class="interior_area">
<div class="container">
  <div class="interior_inner row">
    <div class="col-lg-6">
      <img class="img-fluid" src="../../static/images/apply_to_jobs.jpg" alt="">
    </div>
    <div class="col-lg-5 offset-lg-1">
      <div class="interior_text">
        <h4>Apply to jobs & have them all automatically tracked</h4>
        <p>Anytime you apply for a job, we track it automatically! When we see job application emails in your inbox, we add it to your jobs dashboard. Of course, you can also manually add jobs you are interested in to have it tracked.</p>
        <!--<a class="main_btn" href="#">See Details</a>-->
      </div>
    </div>
  </div>
</div>
</section>
<!--================End Interior Area =================-->

<!--================Interior Area =================-->
<section class="interior_area interior_two">
<div class="container">
  <div class="interior_inner row">
    <div class="col-lg-5 offset-lg-1">
      <div class="interior_text">
        <h4>See your progression & organize your job search</h4>
        <p>Once you have applied to jobs you are interested in, we want you to easily visualize and organize your job search. You can quickly see the status of all your job applications, add new information, keep all your contacts & relevant details like dates, tasks, salaries, etc. linked to your job card.</p>
        <!--<a class="main_btn" href="#">See Details</a>-->
      </div>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" src="../../static/images/organize_jobs.jpg" alt="">
    </div>
  </div>
</div>
</section>
<!--================End Interior Area =================-->

<!--================Interior Area =================-->
<section class="interior_area">
  <div class="container">
    <div class="interior_inner row">
      <div class="col-lg-6">
        <img class="img-fluid" src="../../static/images/metrics.jpg" alt="">
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="interior_text">
          <h4>Get metrics & analytics on your job search</h4>
          <p>As you progress through your job search, we make it easy to identify problem areas so that you can constantly make improvements. For example, we can provide you with metrics on common attributes (skills, position, experience, etc.) among jobs which you are being rejected for so you can make changes to your resume.</p>
          <!--<a class="main_btn" href="#">See Details</a>-->
        </div>
      </div>
    </div>
  </div>
  </section>
  <!--================End Interior Area =================-->

{% endblock %}