{% extends 'base.html' %}

{% block title %} | Job Details {% endblock %}

{% block content %}
<!-- Main Content -->
  <section id="showcase-inner">
    <div class="container" style="background-color: rgb(80, 230, 100)">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="py-3 text-white">Job Details</h1>
          <p class="lead text-white">Learn the details of the job</p>
        </div>
      </div>
    </div>
  </section>

    <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}" style="color: rgb(255, 0, 0)">
              <i class="fas fa-home"></i> Dashboard</a>
          </li>
          <li class="breadcrumb-item active"> Job Details</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Metrics Introduction-->

 <section id="metrics" class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2>Welcome {{ user.first_name }}!</h2>
            <p style="padding-bottom:30px">Here are the details of the job</p>
        </div>
      </div>
    </div>
 </section>

  <!-- Metric1: Total Amount of Job Applications -->
 <section id="metric1" class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h4>Software Engineer Position at Error CV</h4>
            <p style="padding-bottom:20px">You applied this position 9 days ago (2018-11-03)</p>
        </div>
      </div>
    </div>
 </section>


  {% endblock %}