{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section class="home_banner_area" id="home">
  <div class="banner_inner">
<div class="container">
<div class="row banner_content">
  <div class="col-lg-9">
    <h2>Simplify your <br />job hunt!</h2>
    <p>Improve your job search experience in<br /> a seamless & intuitive way</p>
    <a class="banner_btn" href="#">Explore Now</a>
  </div>
  <div class="col-lg-3">
    <div class="banner_map_img">
      <img class="img-fluid" src="img/banner/right-mobile.png" alt="">
    </div>
  </div>
</div>
</div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Feature Area =================-->
<section class="feature_area p_120" id="feature">
<div class="container">
  <div class="main_title">
    <h2>Unique Features</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
  </div>
  <div class="feature_inner row">
    <div class="col-lg-3 col-md-6">
      <div class="feature_item">
        <img src="img/icon/f-icon-1.png" alt="">
        <h4>Maintenance</h4>
        <p>inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature_item">
        <img src="img/icon/f-icon-1.png" alt="">
        <h4>Maintenance</h4>
        <p>inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature_item">
        <img src="img/icon/f-icon-1.png" alt="">
        <h4>Maintenance</h4>
        <p>inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature_item">
        <img src="img/icon/f-icon-1.png" alt="">
        <h4>Maintenance</h4>
        <p>inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.</p>
      </div>
    </div>
  </div>
</div>
</section>
<!--================End Feature Area =================-->

<!--================Interior Area =================-->
<section class="interior_area">
<div class="container">
  <div class="interior_inner row">
    <div class="col-lg-6">
      <img class="img-fluid" src="img/interior-1.png" alt="">
    </div>
    <div class="col-lg-5 offset-lg-1">
      <div class="interior_text">
        <h4>We Believe that Interior beautifies the Total Architecture</h4>
        <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off.</p>
        <a class="main_btn" href="#">See Details</a>
      </div>
    </div>
  </div>
</div>
</section>
<!--================End Interior Area =================-->

<!--================Interior Area =================-->
<section class="interior_area interior_two">
<div class="container">
  <div class="interior_inner row">
    <div class="col-lg-5 offset-lg-1">
      <div class="interior_text">
        <h4>We Believe that Interior beautifies the Total Architecture</h4>
        <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off.</p>
        <a class="main_btn" href="#">See Details</a>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" src="img/interior-2.png" alt="">
    </div>
  </div>
  <div class="video_area" id="video">
    <img class="img-fluid" src="img/video-1.png" alt="">
    <a class="popup-youtube" href="https://www.youtube.com/watch?v=VufDd-QL1c0">
      <img src="img/icon/video-icon-1.png" alt="">
    </a>
  </div>
</div>
</section>
<!--================End Interior Area =================-->

{% endblock %}