<!-- Footer -->
<footer>
  <section id="top-bar" class="p-3" style="background-color: rgba(61, 39, 134, 0.8); color: rgb(211, 211, 211)">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <i class="fas fa-phone"></i> (408)-609-6704
          </div>
          <div class="col-md-4">
            <a href="mailto:errorcv@googlegroups.com" class="fas fa-envelope-open" style="color:rgb(211, 211, 211); padding-left:60px" ></a> jobhax@googlegroups.com
          </div>
          <div class="col-md-4">
            <div class="social text-right">
              <a href="https://join.slack.com/t/errorcv/shared_invite/enQtNDc2MjAyOTE3MDU3LWRjMTI4ZTBjMTlkYWQ5YzM1MWQ3NmNlZTJmOGFiNTE1MTJmOGQwNmJiNzkxMThmN2E0ZWU1MjljOGJiMzA4YmM">
                <i class="fab fa-slack" style="color: rgb(211, 211, 211)"></i>
              </a>
              <a href="https://github.com/errorcv/agent/">
                <i class="fab fa-github" style="color: rgb(211, 211, 211)"></i>
              </a>
              <a href="https://twitter.com/Errorcv1">
                <i class="fab fa-twitter" style="color: rgb(211, 211, 211)"></i>
              </a>
              <a href="https://www.linkedin.com/groups/13609107/">
                <i class="fab fa-linkedin" style="color: rgb(211, 211, 211)"></i>
              </a>
              <a href="https://groups.google.com/forum/#!forum/errorcv">
                <i class="fab fa-google" style="color: rgb(211, 211, 211)"></i>
              </a>
            </div>
          </div>
          <div class="col-md-4" style="margin-left:39%; padding-top: 15px; padding-bottom: 20px">
            Copyright &copy;
            <span class="year"></span> JOBHAX
          </div>
        </div>
      </div>
    </section>
</footer>
