<!-- Footer -->
<footer>
  <section id="top-bar" class="p-3" style="background-color: rgba(61, 39, 134, 0.8); color: rgb(211, 211, 211)">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <i class="fas fa-phone"></i> (408)-609-6704
          </div>
          <div class="col-md-4">
            <i class="fas fa-envelope-open" style="padding-left:60px"></i> errorcv@googlegroups.com
          </div>
          <div class="col-md-4">
            <div class="social text-right">
              <a href="#">
                <i class="fab fa-twitter" style="color: rgb(211, 211, 211)"></i>
              </a>
              <a href="#">
                <i class="fab fa-facebook" style="color: rgb(211, 211, 211)"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin" style="color: rgb(211, 211, 211)"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram" style="color: rgb(211, 211, 211)"></i>
              </a>
              <a href="#">
                <i class="fab fa-pinterest" style="color: rgb(211, 211, 211)"></i>
              </a>
            </div>
          </div>
          <div class="col-md-4" style="margin-left:39%; padding-top: 15px; padding-bottom: 20px">
            Copyright &copy;
            <span class="year"></span> ERRORCV
          </div>
        </div>
      </div>
    </section>
</footer>
