{% load static %}
<body style="height: 500px; margin: 0">
    <div id="containerline" style="height: 500px; width: 80%; margin-left: 60px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative;" _echarts_instance_="ec_1541725324471"></div>
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %} "></script>
    <script type="text/javascript">
var dom = document.getElementById("containerline");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {
 title: {
     text: 'Monthly Application Line Chart'
 },
 tooltip: {
     trigger: 'axis'
 },
 legend: {
     data:['Hired.com','LinkedIn','Indeed','Others','Total'],
     x: 'right'
 },
 grid: {
     left: '3%',
     right: '4%',
     bottom: '3%',
     containLabel: true
 },
 xAxis: {
     type: 'category',
     boundaryGap: false,
     data: ['January','February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
 },
 yAxis: {
     type: 'value'
 },
 series: [
     {
         name:'Hired.com',
         type:'line',
         data:[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
     },
     {
         name:'LinkedIn',
         type:'line',
         data:[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]
     },
     {
         name:'Indeed',
         type:'line',
         data:[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
     },
     {
         name:'Others',
         type:'line',
         data:[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]
     },
     {
         name:'Total',
         type:'line',
         data:[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
     }
 ]
};
;
if (option && typeof option === "object") {
 myChart.setOption(option, true);
}
    </script>

</body>