{% load static %}
<body >
    <div id="container10" style="height: 500px; width: 80%; margin-left: 60px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative;" _echarts_instance_="ec_1541576506014">
        <div style="position: relative; overflow: hidden; width: 1433px; height: 752px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
            <canvas data-zr-dom-id="zr_0" width="1433" height="752" style="position: relative; left: 0px; top: 0px; width: 1433px; height: 752px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %} "></script>
    <script type="text/javascript">
      
      function buildGraph(jsonResponse){
        var dom = document.getElementById("container10");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        app.title = 'Monhty Application Chart';
        var sources = new Array();
        jsonResponse.forEach(element => {
            var source = element.source;
            sources.push(source);
            element["name"] = element["source"];
            delete element["source"];
            element["type"] = "bar";
            element["stack"] = "Company";
        });
        
        option = {
            title : {
                text: 'Monthly Application Chart',
                subtext: '',
                x:'left',
                top: '0px'
            },
            tooltip : {
                trigger: 'axis',
                axisPointer : {           
                    type : 'shadow'        
                }
            },
            legend: {
                data:sources,
                x:'right'
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : ['January','February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : jsonResponse
        };
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
      }  
      
      fetch('get_application_count_by_month', {
              method: 'GET'
            })
            .then(function(response) {
              return response.json();
            })
            .then(function(jsonResponse) {
              buildGraph(jsonResponse);
            });
      
    </script>
  </body>