{% extends 'base.html' %}

{% block title %} | Job Details {% endblock %}

{% block content %}
<!-- Main Content -->
<section id="showcase-inner">
  <div class="container" style="background-color: rgb(80, 230, 100)">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="py-3 text-white">Job Details</h1>
        <p class="lead text-white">Learn the details of the job</p>
      </div>
    </div>
  </div>
</section>

  <!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb1">
        <li class="breadcrumb1-item">
          <a href="{% url 'dashboard' %}" style="color: rgb(255, 0, 0)">
            <i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li class="breadcrumb1-item active"> Job Details</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Job Details Introduction-->
<section id="metrics" class="py-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2>Welcome {{ user.first_name }}!</h2>
          <p style="padding-bottom:30px">Here are the details of the job you applied</p>
      </div>
    </div>
  </div>
</section>
{% if decoratedJobPosting %}
<!-- Job Detail1: Position, Company Name and Application Date -->
<section id="metric1" class="py-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h4 id="positionandcompany"></h4>
          <t id="days_appdate">You Applied on {{ job.applyDate|date:'Y-m-d' }}</t>
          <img id="companylogo" style="width: 100px; height: 100px; margin-left: 180px" src= "{{ job.companyLogo }}">
      </div>
    </div>
  </div>
</section>

<!-- Job Detail2: Table1: Company Details and Position Details  -->
<section id="metric1" class="py-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <table >
            <thead>
              <th>Company Details</th>
            </thead>
            <tbody>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Company Name</th>
                <td>
                  <a id="companyPageNameLinkWithoutTracking" target="_blank">{{ job.company}}</a>
                </td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Industry</th>
                <td id="formattedIndustries"></td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Year Founded</th>
                <td id="foundedYear"></td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Employee Size</th>
                <td id="formattedEmployeeCount"></td>
                <td></td>
              </tr>
            </tbody>
            <thead>
              <th style="padding-top: 20px">Position Details</th>
            </thead> 
            <tbody>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Position</th>
                <td id="title">{{ job.jobTitle}}</td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Viewed on LinkedIn</th>
                <td id="viewCount"></td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Employment Type</th>
                <td id="formattedEmploymentStatus"></td>
                <td></td>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Experience Required</th>
                <td id="formattedExperience"></td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Job Listed</th>
                <td id="formattedListDate"></td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Expiration Date</th>
                <td id="formattedExpireDate"></td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">You Applied on</th>
                <td id="applicationdatep">{{ job.applyDate|date:'Y-m-d' }}</td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">You applied via</th>
                <td id="source">{{ job.source}}</td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Location</th>
                <td id="formattedLocation"></td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">State</th>
                <td id="addressRegion"></td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Country</th>
                <td id="addressCountry"></td>
                <td></td>
              </tr>
            </tbody>
            <thead>
              <th style="padding-top: 20px">Recruiter Details</th>
            </thead>
            <tbody>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Name</th>
                <td id="name"></td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">LinkedIn Page</th>
                <td>
                    <a id="posterProfileNameLink" target="_blank" href= ""></a>
                  </td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Title</th>
                <td id="posterHeadline"></td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Location</th>
                <td id="posterFormattedLocation"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</section>

<!-- Details from Recruiter-->
<section id="recruiterdetails" class="py-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top: 50px">
          <h2 style="margin-bottom: 30px">Details from Recruiter</h2>
          <div style="padding-left: 20px; padding-right:520px; margin-top: 20px">
            <h5>Company Details</h5>
            <p id="companyDescription_rawText">
               </p>    
          </div>
          <div style="padding-left: 20px; padding-right:220px; margin-top: 20px">
            <h5>Job Details</h5>
            <p id="description_rawText">
              
            </p>              
          </div>
      </div>
    </div>
  </div>
</section>
<script>
  var obj = {{ posterInformation|safe }};
  var obj2 = {{ decoratedJobPosting|safe }};
  var obj3 = {{ topCardV2|safe }};
  
  var json = JSON.parse(obj);
  var json2 = JSON.parse(obj2);
  var json3 = JSON.parse(obj3);

  if(Object.keys(json).length > 0){
    document.getElementById('name').innerHTML = json.name;
    document.getElementById('posterProfileNameLink').href = json.posterProfileNameLink;
    document.getElementById('posterProfileNameLink').innerHTML = json.posterProfileNameLink;
    document.getElementById('posterHeadline').innerHTML = json.posterHeadline;
    document.getElementById('posterFormattedLocation').innerHTML = json.posterFormattedLocation;
  }

  if(Object.keys(json2).length > 0){
    document.getElementById('positionandcompany').innerHTML = json2.decoratedJobPosting.jobPosting.title + " Position at " + json2.decoratedJobPosting.jobPosting.companyName;
    document.getElementById('companyPageNameLinkWithoutTracking').innerHTML = json2.decoratedJobPosting.jobPosting.companyName + " (view on LinkedIn) ";
    var companyPageNameLinkWithoutTracking = '';
    for(var i = 0; i < json2.decoratedJobPosting.formattedIndustries.length; i++) {
      companyPageNameLinkWithoutTracking += json2.decoratedJobPosting.formattedIndustries[i] + ", ";
    }
    document.getElementById('formattedIndustries').innerHTML = companyPageNameLinkWithoutTracking
    document.getElementById('foundedYear').innerHTML = json2.decoratedJobPosting.decoratedCompany.foundedYear;
    document.getElementById('formattedEmployeeCount').innerHTML = json2.decoratedJobPosting.decoratedCompany.formattedEmployeeCount;
    document.getElementById('title').innerHTML = json2.decoratedJobPosting.jobPosting.title;
    document.getElementById('formattedEmploymentStatus').innerHTML = json2.decoratedJobPosting.formattedEmploymentStatus;
    document.getElementById('formattedExperience').innerHTML = json2.decoratedJobPosting.formattedExperience;
    document.getElementById('formattedListDate').innerHTML = json2.decoratedJobPosting.formattedListDate;
    document.getElementById('formattedExpireDate').innerHTML = json2.decoratedJobPosting.formattedExpireDate;
    document.getElementById('formattedLocation').innerHTML = json2.decoratedJobPosting.formattedLocation;
    document.getElementById('addressCountry').innerHTML = json2.decoratedJobPosting.addressCountry;
    var companyDescription_rawText = json2.decoratedJobPosting.jobPosting.description.rawText;
    companyDescription_rawText = companyDescription_rawText.split('\n').join('</br>');
    companyDescription_rawText = companyDescription_rawText.split('•').join('</br>•');
    var description_rawText = json2.decoratedJobPosting.jobPosting.companyDescription.rawText;
    description_rawText = description_rawText.split('\n').join('</br>');
    description_rawText = description_rawText.split('•').join('</br>•');
    document.getElementById('companyDescription_rawText').innerHTML = description_rawText;
    document.getElementById('description_rawText').innerHTML = companyDescription_rawText;
  }

  if(Object.keys(json3).length > 3){
    document.getElementById('companyPageNameLinkWithoutTracking').href = json3.companyPageNameLinkWithoutTracking;
    document.getElementById('addressRegion').innerHTML = json3.addressRegion;
    document.getElementById('viewCount').innerHTML = json3.viewCount + " views";
  }

  document.getElementById('source').innerHTML = "LinkedIn";

</script>
{% endif %} 


<!-- Bottom Padding-->
<section >
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="padding-top:100px">
        </div>
      </div>
    </div>
  </section>
{% endblock %}