{% extends 'base.html' %}

{% block title %} | Account Settings {% endblock %}

{% block content %}
<!-- Header Background For Navbar -->
<section id="showcase-inner">
    <div style="background-color: rgba(114,73,251,.8)">
      <div class="row text-center" style="padding: 50px">
      </div>
    </div>
</section> 

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb1">
        <li class="breadcrumb1-item">
          <a href="{% url 'index' %}" style="color: rgb(66, 66, 66)">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb1-item active"> Settings</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Metrics Introduction-->

 <section id="metrics" class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2>Welcome {{ user.first_name }}!</h2>
            <p style="padding-bottom:30px">Here are your settings</p>
        </div>
      </div>
    </div>
 </section>

  <!-- Metric1: Total Amount of Job Applications -->
 <section id="metric1" class="py-0">
    <div class="container">
      <div class="row" style="padding-left: 20px">
        <form action="{% url 'update_user' %}" method="POST">
          {% csrf_token %}
          <table >
            <thead>
              <th>Change your information</th>
            </thead>
            <tbody>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">User Name</th>
                <td>
                  <input name="newusername" value="{{ user.username }}"></input>
                </td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">First Name</th>
                <td>
                  <input name="newuserfirstname" value="{{ user.first_name }}"></input>
                </td>
                <td></td>
              </tr>
              <tr>
                <th style="padding-right: 40px; padding-left:30px">Last Name</th>
                <td>
                    <input name="newuserlastname" value="{{ user.last_name }}"></input>
                </td>
              </tr>
            </tbody>
          </table>
          <button style="margin-left: 330px; margin-top: 10px" class="btn btn-secondary">
            Update
          </button>
        </form>
      </div>
    </div>
 </section>
 
 <!-- Buttons-->
 <section >
    <div class="container">
      <div class="row">
        <div style="padding-left:30px; padding-top:20px">
            <form action="{% url 'delete_account' %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-secondary">
                Delete My Account
              </button>
          </form>
          </div>
      </div>
    </div>
  </section>


 <!-- Bottom Padding-->
 <section >
   <div class="container">
     <div class="row">
       <div class="col-md-12" style="padding-top:50px">
       </div>
     </div>
   </div>
 </section>


  {% endblock %}