* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #2A2A30;
  background: #EDEDEF;
}

.board {
  display: inline-block;
  white-space: nowrap;
  overflow-x: scroll;
}
.board .card {
  background: rgba(0, 0, 0, 0.4);
  margin: 0 1.25rem;
}
.board .card-header {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
.board .card-body {
  padding: 1rem;
}
.board .card-header .card-title {
  margin-bottom: 0;
}
.board .board-column {
  list-style: none;
  min-width: 15rem;
  min-height: 10rem;
  padding: 0;
  margin-bottom: 0;
}
.board .board-item {
  padding: 50px;
  background: #232328;
  margin: 1rem 0;
}
.board .board-item li:first-child {
  margin-top: 0;
}
.board .board-item li:last-child {
  margin-bottom: 0;
}

.gu-mirror {
  list-style: none;
  background: #232328;
}
